#cardapio{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(202, 45, 45);
    font-weight: bold;
    text-align: center;
    background: rgb(243, 197, 197);
    padding: 10px 0;
}

.principais{
    background: rgb(241, 207, 222);
    width: 900px;
    border-radius: 4px;
    border: 4px;
    border-style: solid;
    border-color: rgb(202, 45, 45);
    margin: auto;
}

.img-principais{
    justify-content: center;
    display: flex;
}

#macarrao{
    margin: 0 15px 0 0;
    border: solid 4px;
    border-radius: 4px;
    border-color: rgb(202, 45, 45);
}
#frango{
    margin: 0 15px 0 15px;
    border: solid 4px;
    border-radius: 4px;
    border-color: rgb(202, 45, 45);
}
#bife{
    margin: 0 0 0 15px;
    border: solid 4px;
    border-radius: 4px;
    border-color: rgb(202, 45, 45);
}

.text-principais{
    justify-content: center;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 17px;
    margin: 0 0 50px 0;
}

#tp1{
    font-weight: bold;
    white-space: pre-line;
    text-align: center;
    padding: 0 45px 0 0
}
#tp2{
    padding: 0 15px 0 40px
}
#tp3{
    padding: 0 50px 0 100px;
}

#titulo-principais{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(202, 45, 45);
    text-align: center;
    text-decoration: underline 2px;
}

img{
    width: 200px;
}

.sobremesas{
    background: rgb(241, 207, 222);
    width: 900px;
    border-radius: 8px;
    border: 4px;
    border-style: solid;
    border-color: rgb(202, 45, 45);
    margin: 20px auto;
}

.img-sobremesas{
    justify-content: center;
    display: flex;
    padding: 0 0 0 0;
}
#pudim{
    margin: 0 15px 0 0;
    border: solid 4px;
    border-radius: 4px;
    border-color: rgb(202, 45, 45);
}
#bolo-chocolate{
    border: solid 4px;
    border-radius: 4px;
    border-color: rgb(202, 45, 45);
    margin: 0 15px 0 15px;    
}
#torta-morango{
    margin: 0 0 0 15px;
    border: solid 4px;
    border-radius: 4px;
    border-color: rgb(202, 45, 45);
}

.text-sobremesas{
    justify-content: center;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 17px;
    margin: 0 0 50px 0;
}

#ts1{
    padding: 0 10px 0 60px;
}
#ts2{
    padding: 0 10px 0 80px;
}
#ts3{
    padding: 0 0 0 50px;
}

#titulo-sobremesas{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(202, 45, 45);
    text-align: center;
    text-decoration: underline 2px;
}