.titulo{
    background: rgb(44, 75, 133);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-weight: 600;
    padding: 10px;
    line-height: 0.8;
}

button{
    background: none;
    border: none;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(5, 40, 104);
    font-weight: bold;
    margin: 0 10px 0;
}
.menu{
    background: rgb(226, 231, 245);
    color: rgb(5, 40, 104);
    text-align: center;
    padding: 10px 0;
    margin: 0 0 0 0;
}

#h2{
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(5, 40, 104);
    text-align: center;
}
.subtitulo1{
    background: rgb(165, 191, 221);
    color:  black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 0 0 0 0;
    padding: 70px 0;
    font-size: 23px;
}

.sites{
    background: rgb(236, 238, 241);
    padding: 30px 0;
}
h3{
    font-size: 15px;
    color: rgb(5, 40, 104);
}
.quadros{
    justify-content: center;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 11px;
    border: 2px;
}
.quadro-1{
    background-color: rgba(255, 255, 255, 0.753);
    border-style: solid;
    text-align: center;
    margin: 10px 10px;
    width: 200px;
    margin: 0 20px 20px 0;
    padding: 10px 15px;
    border-color: rgb(5, 40, 104);

}
.quadro-2{
    background-color: rgba(255, 255, 255, 0.753);
    border-style: solid;
    text-align: center;
    margin: 10px 10px;
    width: 200px;
    margin: 0 20px 20px 0;
    padding: 10px 15px;
    border-color: rgb(5, 40, 104);
}
.quadro-3{
    padding: 10px 15px;
    width: 200px;
    margin: 0 0 20px 0;
    border-color: rgb(5, 40, 104);
    background-color: rgba(255, 255, 255, 0.753);
    border-style: solid;
    text-align: center
}

.contato{
    background: rgb(226, 231, 245);
    color: black;
    justify-content: center;
    margin: 0;
    padding: 5px ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

footer{
    background: rgb(44, 75, 133);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
    text-align: center;
    padding: 5px 0;
    color: white;
}