.cabecalho{
    background: #2e8b57;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-weight: 600;
    padding: 10px;
    line-height: 0.8;
    margin: 0 0 0 0;
}
button{
    background: none;
    border: none;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-weight: bold;
    margin: 0 10px 0;
    word-spacing: 20px;
    }

.tabela{
    background: rgb(250, 247, 225);
    padding: 0 0 300px 0;
    margin: 0 0 0 0;
}
h2{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #2e8b57;
    text-align: center;
    padding: 30px 0 20px 0;
    margin: 0 0 0 0;
}
.container-tabela{
    width: 80%;
    margin: 0 auto;
}
table{
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #2e8b57;
    padding: 0 0 20px 0;   
}
th{
    background: #9afc9d;
    padding: 10px;
    border: 3px solid #2e8b57;
    font-size: 15px;
    font-weight: bold;
    color: #1f663b;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
td{
    background: #ffffff;
    padding: 10px;
    border: 3px solid #2e8b57;
    font-size: 13px;
    color: #333;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
}

footer{
    background: #2e8b57;
    font-size: 13px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: white;
    padding: 20px 0;
}