.cabecalho{
    background: rgb(5, 40, 104);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px 18px;
    margin: 0 0 40px;
}

#titulo{
   font-size: 30px;
}

#paragrafo-titulo{
    font-size: 15px;
}

#corpo{
    margin: 0 15px ;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

}

.subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 15px;
    padding: 15px 0 0 0;
    color: rgb(5, 40, 104);
    border-bottom: 2px solid;
}

.cores{
    background: rgb(218, 227, 243);
    color: #000;
    border-radius: 4px;
    padding: 10px 18px;
    margin: 22px 15px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

#roda-pe{
    background: rgb(5, 40, 104);
    color: #fff;
    text-align: center;
    padding: 25px 18px;
    margin: 50px 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}