body{
    background-color: rgb(163, 194, 241);
}
h1{
    background-color: rgb(47, 86, 194);
    color: rgb(230, 228, 228);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    justify-content: center;
    padding: 30px 0 ;
    margin: 0 0 0 0;
}

.menu{
    text-align: center;
}
button{
    justify-content: center;
    background: none;
    font-size: 30px;
    text-align: center;
    margin: 30px;
    border-style: ridge;
    border-width: 8px;
    border-color: rgb(47, 86, 194);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: rgb(47, 86, 194);
}